<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheel of Fortune</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="mainbox" id="mainbox">
    <div class="box" id="box">
    <div class="box1">
        <span class="font span1"><h5>{{ User_Preferences['like5'] }}</h5></span>
        <span class="font span2"><h5>{{ User_Preferences['like4'] }}</h5></span>
        <span class="font span3"><h5>{{ User_Preferences['like1'] }}</h5></span>
        <span class="font span4"><h5>{{ User_Preferences['like2'] }}</h5></span>
        <span class="font span5"><h5>{{ User_Preferences['like3'] }}</h5></span>
    </div>
    <div class="box2">
        <span class="font span1"><h5>{{ User_Preferences['like5'] }}</h5></span>
        <span class="font span2"><h5>{{ User_Preferences['like4'] }}</h5></span>
        <span class="font span3"><h5>{{ User_Preferences['like1'] }}</h5></span>
        <span class="font span4"><h5>{{ User_Preferences['like2'] }}</h5></span>
        <span class="font span5"><h5>{{ User_Preferences['like3'] }}</h5></span>
    </div>
</div>
<button class ="spin" onclick="spin()">SPIN</button>
</div>   
<script>


function shuffle(array){
    var currentIndex = array.length,
    randomIndex;
    while(0 !== currentIndex) {
        randomIndex = Math.floor(Math.random()*currentIndex);
        currentIndex--;
        [array[currentIndex],array[randomIndex]] = [
            array[currentIndex],
            array[currentIndex],
        ];
    }
    return array;
}

function spin(){
    const box = document.getElementById("box");
    const element = document.getElementById("mainbox");
    let SelectItem = "";

    let AC=shuffle([1890,2250,2610]);
    let Camera = shuffle([1850,2210,2570]);
    let Zonk = shuffle([1770,2130,2490]);
    let PS=shuffle([1810,2170,2530]);
    let Headset = shuffle([1750,2210,2470]);
    let Drone = shuffle([1630,1990,2350]);
    let ROG = shuffle([1570,1930,2290]);

    let results = shuffle([
        AC[0],
        Camera[0],
        Zonk[0],
        PS[0],
        Headset[0],
        Drone[0],
        ROG[0]
    ]);

    if(AC.includes(results[0])) SelectedItem = "Air Conditioner";
    if(Camera.includes(results[0])) SelectedItem = "Sports Camera";
    if(Zonk.includes(results[0])) SelectedItem = "Zonkololo";
    if(PS.includes(results[0])) SelectedItem = "Paneer Selvam";
    if(Headset.includes(results[0])) SelectedItem = "beats fit pto";
    if(Drone.includes(results[0])) SelectedItem = "Heasjskj";
    if(ROG.includes(results[0])) SelectedItem = "ROH PHONE 2";

    box.style.setProperty("transition","all ease 5s");
    box.style.transform = "rotate(" + results[0]+"deg)";
    element.classList.remove("animate");
    setTimeout(function(){
        element.classList.add("animate");
    }, 5000);
    setTimeout(function(){
        Swal.fire({
            title: 'Sweet!',
            html: 'You won'+ SelectItem + '|'+'<a href="#">|',
            imageUrl: 'Dover.jpg',
            imageWidth: 200,
            imageHeight: 200,
            imageAlt: 'custom image',
        })
    }, 5500)
    setTimeout(function(){
        box.style.setProperty("transition","initial");
        box.style.transform = "rotate(90deg)";
    }, 6000);
}
</script> 
</body>
</html>