<!DOCTYPE html>
<div class="card">
    <form name="plates" action="">
      <link rel="stylesheet" href="style.css">
      <label for="dlplate" style="margin-top: 20%;">Enter License Plate Number: </label>
      <input type="text" name="dlplate" class="field" id="" required>
      <p class="error error--hidden"></p>
      <input type="submit" value="Genarate" class="btn">

      <!-- <a href="/" style="text-decoration: none;margin-left: 15%;">Already have an Account? Sign In</a> -->

    </form>
  </div>

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/scripts.js"></script>
  </html>